.progressbar-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 1.5svw;
}

.progressbar-container .progressbar {
  background-color: #F9FAFB;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: -0.2rem;
  height: 1.2rem;

}

.progress-seg-1 {
  height: 1.2rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: width 1s;

}

@media only screen and (min-width: 1024px) and (max-width: 1390px) {
  .progressbar-container {
    margin-bottom: 0;
    margin-top: -1.25rem;
  }

  .progressbar-container .progressbar {
    height: 0.8rem;
  }

  .progress-seg-1 {
    height: 0.8rem;
    margin-bottom: 1rem;
  }
}